@charset "UFT-8";



.bodywrap{
    background-color: whitesmoke;
}

.hd_wrap{
    background-color: white;
    display: flex;
    justify-content: center;
}

.hd{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1040px;
    height: 76px;
}

.link_menu{
    display: flex;
    list-style-type: none;
}

.link_menu>li{
    padding: 10px 20px;
}

.hd>img{
    width: 102px;
    height: 43px;
}

.sns_menu>img{
    width: 30px;
    height: 30px;
    padding: 10px;
}

/* スライド */
.wrap{
    background-color:whitesmoke;
}

#slider{
    width: 100%;
    margin: 0 auto;
}

.slide_item>img{
    width: 100%;
    height: 640px;
}

.slide_item{
    position: relative;
    width: 100%;
    max-width: 960px;
}

.slide_item>p{
    width: 610px;
    height: 132px;
    margin: 0;
    padding: 30px 60px;
    font-size: 24px;
    line-height: 2;
    background-color: lightseagreen;
    background-size: 40px 35px;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px; 
}
  
 button{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
 
  .slide-arrow{
    position: absolute;
    top: 50%;
    margin-top: -15px;
}
/* スライダー訂正ここまで */

/* 最初の設定　

.main{
    text-align: center;
    position: relative;
}

.scroll{
    display: flex;
    justify-content: center;
    /* white-space: normal;
    overflow: scroll; 
}

.main>img{
    width: 960px;
    height: 640px;
    white-space: nowrap;
    /* overflow: scroll;   
}

.main>h1{
    width: 610px;
    height: 132px;
    margin: 0;
    padding: 30px 60px;
    font-size: 28px;
    line-height: 2;
    background-color: lightseagreen;
    background-size: 48px 41px;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;    
}
最初の設定 */

/* 自動スライド */
@keyframes loop {
    0% {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes loop2 {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(-200%);
    }
  }   

  /* 自動スライドここまで */

.content{
    width: 990px;
    height: 1750px;
    margin: 0 auto;
    padding-top: 50px;  
}

.img_box{
    width: 990px;
    height: 1750px;
    display: flex;
    flex-wrap: wrap;
}

.box1{
    width: 310px;
    height:310px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition-duration: 8.0s;
}

.box2{
    width: 640px;
    height: 310px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition-duration: 8.0s;
}

.scale_img:hover{
    transform: scale(1.2,1.2);
    cursor: pointer;
}

.media_title{
    width: 310px;
    height: 86px;
    background-color: white;
    position: absolute;
    bottom: 0px;   
}

.media_title2{
    width: 640px;
    height: 43px;
    margin: 0;  
    background-color: white;
    position: absolute;
    bottom: 0px;    
}

.media_title>h1{
    font-size: 15px;
}

.media_title2>h1{
    font-size: 15px;  
}

.more{
    width: 100%;
    height: 56px;
    padding: 50px 0;
    background-color: whitesmoke;
}

.box3{
    width: 240px;
    height: 56px;
    background-color: white;
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
}
.back{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background-color: whitesmoke;
}

.back>p{
/* background-color: violet; */
    padding: 0;
    margin: 0;
}

.footwewrap{
    width: 1440px;
    height: 456px;
    background-color: whitesmoke;
    /* margin: 0 auto; */
}

.ft_menu{
    width: 960px;
    height: 200px;
    margin: 0 auto;
    background-color: white;
    padding-top: 50px;
}

.ft_logo{
    /* margin-top: 40px; */
    text-align: center;
}

.ft_logo>img{
    width: 175px;
    height: 73px;
    
}

.box4{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.ft_link{
    margin: 0 ;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}

.ft_link>li{   
    padding: 10px 20px;
}

.fppter_img{
    width: 148px;
    height: 20px;
    display: flex;
    justify-content: center;
}

.footer_img>img{
    width: 24px;
    height: 20px;
    padding: 15px;
}

.footerwrap>p{
    text-align: center;
    color: darkgray;
    font-size: 12px;
    margin-top: 80px;
}